# Игнорируем виртуальное окружение
venv/
.env
*.env

# Игнорируем файлы кеша и временные файлы
__pycache__/
*.pyc
*.pyo
*.sqlite3

# Игнорируем настройки IDE
.vscode/
.idea/
*.iml

# Логи и дампы базы данных
logs/
*.log
*.sql
*.db
